#app {
	background-image: url(../img/color.jpeg);
	background-position: 50% 50%;
	background-size: 500%;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	transition: background-position-x 0.5s, background-position-y 0.5s, background-size 0.5s;
}

#left, #right, #up, #down {
	position: absolute;
	opacity: 0;
	z-index:-1;
}

#left {
	left: 0px;
	top: 0px;
	height: 100%;
	width: 30%;
	
}

#right {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 30%;
	opacity: 0;
	z-index: -1;
}

#up {
	left: 0px;
	top: 0px;
	height: 30%;
	width: 100%;
}

#down {
	left: 0px;
	bottom: 0px;
	height: 30%;
	width: 100%;