body {
   width: 100%;
   height: 100%;
   position: relative;
   background-color: antiquewhite;
   display: flex;
   flex: 1;
   flex-grow: 1;
   flex-direction: column;
 }

#head {
   background-color: #174768;
   height: 100px;
   width: 100%;
   z-index: 1;
   position: relative;


 }

 #logo {
   position: absolute;
   padding-top: 10px;
   padding-left: 10px;
 }

 #name {
   position: relative;
   display: inline-block;
   padding-left: 95px;
   padding-top: 25px;
   color: #fbfff1;
   font-family: 'Cormorant Garamond', serif;

 }

 #menu-options {
   overflow: hidden;
   position: absolute;
   z-index: 2;
   top: 30px;
   right: 0px;
 }

 /*creating horizontal menu bar*/

 .menu {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   z-index: 1;
 }

 .menu:hover {
   background-color: #ddd;
   color: black;
   cursor: pointer;
 }

 .menu.active {
   background-color: #4CAF50;
   color: white;
 }

#portfolio {
  font-size: 15pt;
}